.order-summary {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 2rem;
    height: 100%;
    border-left: var(--border);

    @include mobile {
        border-radius: 1.25rem;
        padding: 2rem;
        border: var(--border);
    }

    @include mobile-s {
        padding: 1rem;
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--color-black);
        text-align: right;
        margin-bottom: 1.5rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
    }

    &__label {
        font-size: .875rem;
        color: var(--color-black);
        white-space: nowrap;
    }

    &__dots {
        flex-grow: 1;
        border-bottom: .0625rem dotted var(--color-gray-m);
        margin: 0 .5rem .25rem .5rem;
        opacity: 0.5;
    }

    &__value {
        font-size: 14px;
        color: var(--color-gray-m);
        text-align: right;
        max-width: 50%;
        white-space: pre-line;
    }

    &__price {
        margin-block: 2rem;
        font-size: 1rem;

        strong {
            color: var(--color-black);
            font-weight: 700;
        }
    }

    &__button {
        white-space: nowrap;

        &:hover:not(:disabled) {
            box-shadow: 0 .25rem .625rem rgba(14, 194, 97, 0.3);
        }

        &:disabled {
            background: var(--color-gray-s);
            color: var(--color-gray-m);
            cursor: not-allowed;
            box-shadow: none;
        }
    }
}