.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.875rem 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    transition: var(--transition);
    color: var(--color-light);
    border-radius: 0.5rem;

    // Градиент для кнопки на главном экране
    &--hero {
        background: var(--gradient-button-hero);
        padding: .9375rem 3.75rem;
    }

    // Градиент 1 (зелёный)
    &--green {
        background: var(--gradient-button-one);
    }

    // Градиент 2 (сине-зелёный)
    &--blue {
        background: var(gradient-button-two);
    }

    // Градиент 3 (розово-коричневый)
    &--red {
        background: var(--gradient-button-three);
    }

    // Градиент 4 (фиолетовый)
    &--purple {
        background: var(--gradient-button-four);
    }

    &:active {
        transform: translateY(0);
        transition: transform 0.05s ease;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        transform: none;
    }
}