.booking {
    &__stepper-wrapper {
        margin-top: 2rem;
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.25rem;

        @include mobile {
            flex-direction: column;
        }
    }

    &__content {
        margin-top: 2rem;
    }
}