.booking {
    &__wrapper {
        padding-inline: 3rem;

        @include tablet {
            padding-inline: 0;
        }
    }

    &__stepper-wrapper {
        margin-top: 2rem;
    }

    &__order-number {
        padding: fluid(16, 12) 0;
        border-top: var(--border);
        border-bottom: var(--border);
        font-weight: 700;
        font-size: fluid(18, 14);
        color: var(--color-gray-m);
    }

    &__order-number-value {
        color: var(--color-accent);
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.25rem;

        @include mobile {
            flex-direction: column;
        }
    }

    &__content {
        width: 100%;
        margin-block: 2rem;
    }

    &__sidebar {
        @include mobile {
            padding-bottom: 2rem;
        }
    }
}