.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; // или center, если нужно по центру


    &__title {
        line-height: 1;
        color: var(--color-black);
        font-size: 4.375rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: .25rem;

        &-brand {
            color: var(--color-accent);
        }
    }

    &__subtitle {
        margin-top: 2.125rem;
        color: var(--color-gray-m);
        font-size: 1.625rem;
        font-weight: 300;
    }

    &__button {
        margin-top: 3.75rem;
    }
}


.footer {
    padding-bottom: 2rem;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        & * {
            font-size: .8125rem;
            font-weight: 400;
        }
    }

    &__copyright {
        color: var(--color-gray-m);
    }

    &__contact {
        font-style: normal;
    }

    &__phone {
        color: var(--color-black);

        &:hover {
            opacity: 0.8;
        }
    }
}