@use './helpers/' as *;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.container-hero-content {
  max-width: var(--container-hero-content);
  padding-inline: 2rem;
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  @include mobile {
    padding-inline: 1rem;
    max-width: 40.75rem;
  }

  @include mobile-s {
    padding-inline: 0rem;
  }

  .hero-content {
    flex: 1;

    @include mobile-s {
      margin-top: 2.5rem;
    }
  }
}
