.location-step {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }

    &__map {
        display: flex;
        flex-direction: column;

        p {
            font-size: .875rem;
        }
    }

    &__map-placeholder {
        width: 100%;
        min-width: fluid(1000, 320); // не меньше 320px на мобильных
        height: auto;
        min-height: 350px;
        background-color: #f5f5f5;

        // Если карта внутри flex-контейнера
        flex-shrink: 0;
    }
}