.menu {
  width: 4rem;
  background: var(--color-black);
  color: var(--color-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 1rem;
  z-index: 15;

  @include mobile-s {
    position: absolute;
    background: transparent;
    padding: 1.375rem;

  }

  &__toggle {
    width: 1.5rem;
    height: 1.125rem;
    background: none;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 0;

    span {
      display: block;
      width: 100%;
      height: .1875rem;
      border-radius: 0.125rem;
      background: var(--color-light);
      transition: var(--transition);

      @include mobile-s {
        background: var(--color-black);
      }
    }
  }

  &__lang {
    font-size: 0.75rem;
    line-height: 1;

    @include mobile-s {
      display: none;
    }
  }

  &.is-open {
    .menu__toggle span:nth-child(1) {
      transform: translateY(0.5rem) rotate(45deg);
    }

    .menu__toggle span:nth-child(2) {
      opacity: 0;
    }

    .menu__toggle span:nth-child(3) {
      transform: translateY(-0.5rem) rotate(-45deg);
    }
  }
}

.menu-panel {
  position: fixed;
  inset: 0;
  display: flex;
  z-index: 30;

  &__left {
    width: 55%;
    background: var(--color-black);
    padding: 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      width: 100%;
    }

    @include mobile-s {
      padding: 5rem 0 0 1.75rem;
      justify-content: start;
    }

  }

  &__close {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    border: 0;
    background: none;
    color: var(--color-light);
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__nav {}

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    align-items: flex-start;
    padding: 0;
  }

  &__item {
    color: var(--color-light);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    transition: var(--transition);
    cursor: pointer;

    @include mobile {
      font-size: 1.75rem;
    }

    @include mobile-s {
      font-size: 1.375rem;
    }

    &.is-active,
    &:hover {
      color: var(--color-accent);
    }
  }

  &__socials {
    margin-top: 3rem;
    display: flex;
    gap: 0.75rem;
  }

  &__icon {
    transition: var(--transition);
    color: var(--color-light);

    &:hover {
      color: var(--color-accent);
    }

    path,
    g path {
      fill: currentColor;
    }
  }

  &__overlay {
    flex: 1;
    border: 0;
    background: var(--color-black);
    opacity: 0.8;
    cursor: pointer;

    @include mobile {
      display: none;
    }
  }
}